include *.csv *.pkl
recursive-include  smartclide_service_classification_autocomplete/data *.csv 
recursive-include  smartclide_service_classification_autocomplete/trained_models *.csv *.pkl *.pt
recursive-include  smartclide_service_classification_autocomplete/trained_models/bert_service_classifier *.json *.bin *.txt
